{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About US</h1>
    </header>
    <article>
        <p>Notre équipe a développé une solution complète pour intégrer solr à un projet Symfony et pour fair indexer tous le contenue de la base de données à l'aide d'une commande en symfony</p>

    </article>
{% endblock %}