<div class="row">
    <span class="col-md-12 col-xs-12 text-center clearfix">
        <div class="where-page">
            <div class="row">
                <span class="col-md-4 col-xs-12">
                    <h4> résultats trouvés  {{ spell}} </h4>
                </span>
                <span class="col-md-8 col-xs-12">
                    <form class="filter-search">
                        <fieldset>
                            <div class="row">
                                <span class="col-md-7 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="button1id">Filter par :</label>
                                        <select id="selectbasic" name="selectbasic" class="form-control">
                                            <option value="1">Type de plat</option>
                                        </select>
                                    </div>
                                </span>
                                <span class="col-md-5 col-xs-12">
                                    <div class="form-group">
                                        <button id="button1id" name="button1id" class="btn btn-danger">Type de cuisine</button>
                                        <button id="button2id" name="button2id" class="btn btn-danger">Nom</button>
                                    </div>
                                </span>
                            </div>
                        </fieldset>
                    </form>
                </span>
            </div>
        </div>
    </span>
</div>