<div class="search-header-2">
    <div class="row">
        <span class="col-md-6 col-xs-12">
            <h5>trouver les restaurants qui cuisinent «maison»</h5>
        </span>
        <span class="col-md-6 col-xs-12">
            <div id="custom-search-input">
                <div class="input-group">
                    {{ render(controller('BloggerBlogBundle:Search:blockSearch')) }}
                </div>
            </div>
        </span>
    </div><!-- row -->
</div><!-- search header -->